
* {
    font-family: monospace, Arial, Helvetica, sans-serif;
    
}

a {
    text-decoration: none;
}

body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    margin: 30px;
    padding: 20px;
}

button {
    width: 100px;
    height: 100px;
    margin: 10px 10px;
    border-radius: 45%;
    font-size: 17px;
}

/* the wining buton */

#win {
  
    background: #ee9ca7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ee9ca7, #ffdde1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ee9ca7, #ffdde1); 
}

#butons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    
}

.flex {
    display: flex;
    

}

.instrucbut {
    background-color: blueviolet;
    color: burlywood;
}

.hidden {
    display: none;
    text-align: center;
    border-bottom: 1px solid orange;
}

#butons .hidden {
    
    font-size: 12px;
}

#butons button {
    background: linear-gradient( #1e9600, #fff200, #ff0000);
}

/* start again buton */

#startAgain {
    display: none;
    text-decoration: none;
    font-size: 30px;
    color: red;
}

#level2 {
    display: none;
    text-decoration: none;
    font-size: 30px;
    color: red;
}

/* footer */

#footer {
    display: block;
    text-align: center;
    
}

i {
   color: orange ;
}
marquee {
    width: "30px";
    direction: "down";
    height: "100px";
}
