
* {
    font-family: monospace, Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    font-family: monospace;
    margin: 30px;
    padding: 20px;
}
button {
    width: 100px;
    height: 100px;
    margin: 20px 15px;
    border-radius: 50%;
    font-size: 20px;

}

#butons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 75%;
}

.flex {
    display: flex;
}


.instrucbut {
    background-color: blueviolet;
    color: burlywood;
}

.hidden {display: none;}





/* coloured buttons */
#blue {
    background-color: rgb(65, 35, 240);
    color: white;
    font-size: 20px;
    padding: 20px;
    font-family: monospace;
}

#red {
    background-color: rgb(214, 51, 51);
    color: white;
    font-size: 20px;
    padding: 20px;
    font-family: monospace;
}


#green {
    background-color: rgb(28, 211, 52);
    color: white;
    font-size: 20px;
    padding: 20px;
    font-family: monospace;
}

#yellow {
    background-color: rgb(250, 239, 84);
    color: white;
    font-size: 20px;
    padding: 20px;
    font-family: monospace;
}

/* question 5 image */
#image1 {
    width: 250px;
    height: 300px;
}